<% include ./partials/header %>

<div class="ui main text container segment">
	<div class="ui huge header">
		<%=blog.title%>
	</div>
	<div class="ui top attached">
		<div class="item">
			<div class="description">
				<span> <%=blog.created.toDateString()%> 
				</span>	
				<br> <br>
			</div>
			<img src="<%=blog.image%>" class="ui centered rounded image">
			<div class="content">
				<br>
				<p> <%-blog.body%></p>
				<br>
			</div>
			<a href="/blogs/<%=blog._id%>/edit" class="ui orange button">Edit</a>
			<form action="/blogs/<%=blog._id%>?_method=DELETE" method="POST" id="delete">
				<button class="ui negative button">Delete</button>
			</form>		
		</div>
		
	</div>
</div>

<% include ./partials/footer %>